{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

    <div class="container">
        <a class="btn btn-primary" href="{{ path('editClient', {'client': null}) }}" role="button">Добавить клиента</a>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Клиент</th>
                <th scope="col">Балл</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr>
                    <td>{{ client.name }} {{ client.surname }}</td>
                    <td>{{ client.score }}</td>
                    <td><a class="btn btn-primary" href="{{ path('client', {'client': client.id}) }}" role="button">Показать</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="navigation">
            <ul class="pagination">
                <li class="page-item {{ currentPage == 1 ? 'disabled':'' }}">
                    <a class="page-link" href="{{ path('index', { page: currentPage-1 }) }}">Previous</a>
                </li>
                {% for i in 1..pageCount %}
                    <li class="page-item {{ currentPage == loop.index ? 'active':'' }}" ><a class="page-link" href="{{ path('index', { page: loop.index }) }}">{{ loop.index }}</a></li>
                {% endfor %}
                <li class="page-item {{ currentPage == pageCount ? 'disabled':'' }}">
                    <a class="page-link" href="{{ path('index', { page: currentPage+1 }) }}">Next</a>
                </li>
            </ul>
        </nav>

        <ul>

        </ul>
    </div>
{% endblock %}
