{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

    <div class="container">
        {% if isCreate %}
            <h2>Создание клиента <a class="btn btn-primary" href="{{ path('index') }}" role="button">Отмена</a></h2>
        {% else %}
            <h2>Редактирование клиента <a class="btn btn-primary" href="{{ path('client', {'client': client.id}) }}" role="button">Отмена</a></h2>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}
