{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <a class="btn btn-primary" href="{{ path('index') }}" role="button">Назад</a>

        {% if client %}
            <h2>Информация о клиенте <a class="btn btn-primary" href="{{ path('editClient', {'client': client.id}) }}"
                                        role="button">Редактировать</a></h2>
            <ul class="clientInfo">
                <li>Имя: <span>{{ client.name }}</span></li>
                <li>Фамилия: <span>{{ client.surname }}</span></li>
                <li>Номер телефона: <span>{{ client.phone }}</span></li>
                <li>Почта: <span>{{ client.email }}</span></li>
                <li>Образование: <span>{{ client.education|trans }}</span></li>
                <li>Согласие на обработку данных: <span>{{ client.confirmedRuleText }}</span></li>
                <li>Балл: <span>{{ client.score }}</span></li>
            </ul>
        {% else %}
            <p>Клиент не найден</p>
        {% endif %}
    </div>
{% endblock %}

